@font-face {
  font-family: 'CustomFont';
  src: url('digital-7-mono.ttf') format('ttf'),
       url('digital-7-mono.ttf') format('ttf'); 
}

* {

}

body {
  color: #ffffff;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  background-image: url('background-soccer.jpg');
  /*Image by <a href="https://pixabay.com/users/pexels-2286921/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1867992">Pexels</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1867992">Pixabay</a>*/
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-size: 75px;
  margin: 20px auto 0px;
  padding: 5px;
  font-family: 'CustomFont', sans-serif;
}

main {
  max-width: 500px;
  background-color: #ffffff;
  color: black;
  margin: 30px auto 0px;
  padding: 10px;
  border-radius: 10px;
  align-content: center;
}

#scoreboard {
  text-align: center;
  background-color: darkolivegreen;
}

#home-team,
#away-team {
  display: inline-block;
  border: 5px solid #ffffff;
  margin: 20 px;
}

#home-team-score,
#away-team-score {
  background-color: black;
  color: #ffffff;
  font-size: larger;
  padding: 5px 0;
  font-family: 'CustomFont', sans-serif;
}

#home-team,
#away-team,
#answer-box,
#feedback-text {
  margin: 10px;
}

